@model List<Code.Models.HomeVIewModels.HomeAlbumsDetailsViewModel>

@if(Model.Capacity == 0)
{
	<h1 class="text-center">There are no albums with matching category!</h1>

}

<div class="row">

	<div class="col-md-6 col-md-offset-3">

		@Html.Partial("_PaginationAlbumsPartial");

		@foreach (var album in Model)
		{
			<div class="col-md-6 col-md-offset-3 u_album text-center" style="width: 100%;">

				<h3 class="text-center">@album.Name</h3>

				@if (album.Images.Capacity > 0)
				{
					<div id="album-with-pictures" class="carousel slide" data-ride="carousel" data-interval="4000" data-delay="3000">

						<div class="carousel-inner" role="listbox">

							@foreach (var image in album.Images)
							{
								var firstImage = album.Images.First();

								if (image == firstImage)
								{
									<div class="item active">
										<img src="~/uploads/@image.Path" alt="Chania" class="u_album_img" />
									</div>
								}
								else
								{
									<div class="item">
										<img src="~/uploads/@image.Path" alt="Chania" class="u_album_img" />
									</div>
								}
							}
						</div>
					</div>
				}
				else
				{
					<img src="~/images/album_with_no_images.jpg" />
				}

				<div class="a_details_link">
					<a href="@(Url.Action("Details", "Albums", new { @albumId = album.Id, @userId = album.User.Id }))" title="View" class="pull-right">
						<span class="glyphicon glyphicon-option-horizontal"></span>
					</a>
				</div>
			</div>
		}

		@Html.Partial("_PaginationAlbumsPartial");

	</div>

</div>