@model ParentAlbumViewModel



@inject UserManager<ApplicationUser> UserManager


@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="text-center">
		<form id="search-form" asp-area="" asp-controller="Albums" asp-action="Search">
			@Html.TextBoxFor(m => m.Search.Name, new { @id = "search-box", @placeholder = "Search by name" })
			<input type="submit" id="search-button" value="Go" />
		</form>
	</div>
</div>
<div class="row" id="latest-album-title">
	<div class="col-md-4 col-md-offset-4 text-center">
		Latest Albums
	</div>
</div>

<div class="albums">
	@if (Model.List == null || !Model.List.Any())
	{
		<h1>There aren't any albums.</h1>
	}
	else
	{
		
		@foreach (var album in Model.List)
		{
			var albumImages = Model.Images
				.Where(img => img.Album.Id == album.Id)
				.ToList();

			<div class="col-md-4 text-center" id="album">

				@if (albumImages.Count == 0)
				{
					<img src="~/images/album_with_no_images.jpg" />
				}
				else
				{
					var firstImage = albumImages.First();

					<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-delay="3000">

						<div class="carousel-inner" role="listbox">

							@foreach (var image in albumImages)
							{
								// if the picture is the first in the images list
								// the class will be "item active"
								if (image == firstImage)
								{
									<div class="item active">
										<img src="~/uploads/@album.Creator.Id/@album.Id/@image.Name" alt="Chania" style="height: 300px; width: inherit">
									</div>
							}
							else
							{
									<div class="item">
										<img src="~/uploads/@album.Creator.Id/@album.Id/@image.Name" alt="Chania" style="height: 300px; width: inherit">
									</div>
							}
						}
						</div>
					</div>
				}
				@(Html.ActionLink<AlbumsController>(album.Name, c => c.Details(album.Id)))
				<br />
				<div class="pull-right">
					<p style="color: gray; margin-right: 5px;">by @album.Creator.FirstName @album.Creator.LastName</p>
				</div>
			</div>
				}
		<div class="clearfix"></div>
	}
</div>
