@using Microsoft.AspNetCore.Identity
@using Code.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
		<ul class="nav navbar-nav">
			<li>
				@{ var currentUser = UserManager.GetUserAsync(User).Result;}
				@{
					if (currentUser.FirstName != null)
					{
						@(Html.ActionLink<MyProfileController>($"Welcome, {currentUser.FirstName}", c => c.Index()))
					}
					else
					{
						@(Html.ActionLink<MyProfileController>($"Welcome, {currentUser.Email}", c => c.Index()))
					}
				}
			</li>
			<li>
				<button id="logOff-button" type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
			</li>
		</ul>
	</form>
}
else
{
	   <ul class="nav navbar-nav navbar-right">
	       <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
		   <li><a asp-area="" asp-controller="Account" asp-action="Login" id="login-button">Log in</a></li>
 	  </ul>
}
