@using Microsoft.AspNetCore.Identity
@using Code.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
		<ul class="nav navbar-nav">
			<li id="profile-icon">
				<a asp-controller="MyProfile" asp-action="Index">
					<span class="glyphicon glyphicon-user"></span>
				</a>
			</li>
		</ul>
	</form>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
		<li><a asp-area="" asp-controller="Account" asp-action="Login" id="login-button">Log in</a></li>
	</ul>
}
