/*=== Admin dorpdown ======*/
li#admin-main{
	background-color: #1f7dd7;
}
li#admin {
	background-color: gray;
}
/*=== Search Index Page*/
#users-section{
}
#users-section h3{
	border: 1px solid #a1a1a1;
	background-color: #f2f2f2;
	border-radius: 4px;
}
#users-section #user{
	border: 1px solid #a1a1a1;
	background-color: #f2f2f2;
	margin-bottom: 5px;
	border-radius: 4px;
}
#users-section img{
	height: initial;
	width: 100%;
	margin-top: 3px;
	border-radius: 4px;
}
#users-section #albums-information{
	padding: 0px;
	list-style: none;
	display: block;
}
#users-section  #albums-information li{
	width: 100%;
}
@media screen and (max-width: 960px){
	#users-section  #albums-information li{
		width: 32%;
		display: inline-block;
}
	#users-section img{
		height: 120px;
		width: initial;
		margin-top: 5px;
	}
}

#albums-section{
}
#albums-section #album{
	border: 1px solid #a1a1a1;
	background-color: #f2f2f2;
	margin-bottom: 5px;
	border-radius: 4px;
}
#albums-section #album #images{
}
#albums-section #album img{
	height: 100px;
	margin-bottom: 5px;
	width: initial;
}
	#albums-section #album a {
		display: block;
		text-decoration: none;
		color: white;
		font-size: 18px;
	}

/* ====== Admin Panel ======== */
/* ----- users dashboard ------*/
#users-dashboard h3{
	padding: 10px;
	background-color: #1f7dd7;
	color: white;
	opacity: 0.8;
}
img#image{
	height: 30px;
}
#users-table {
	    margin-top: -10px;
	    border: 2px solid #1f7dd7;
		opacity: 0.8;
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	#users-table td, th {
		border: 1px solid #a1a1a1;
		padding: 8px;
		text-align: center;
	}
	tr:nth-child(even) {
    background-color: #dddddd;
}
/*----- albums dashboard ----*/
#albums-dashboard h3{
	padding: 10px;
	background-color: #1f7dd7;
	color: white;
	opacity: 0.8;
}
	#albums-table {
	    margin-top: -10px;
	    border: 2px solid #1f7dd7;
		opacity: 0.8;
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	#albums-table td, th {
		border: 1px solid #a1a1a1;
		padding: 8px;
		text-align: center;
	}

