body {
	overflow-x: hidden;
	background-color: #eaeaea;
	position: relative;
}
/* layout styling */
.navbar-profile-picture {
	text-align: center;
	width: inherit;
	height: 50px;
}

.navbar {
	background-color: black;
	opacity: 0.9;
	border: none;
	position: relative;
	box-shadow: 0px 1px 10px #1f7dd7;
	height: 50px;
}

	.navbar .container ul li a {
		text-align: center;
		font-size: 15px;
		transition: all 0.33s;
		color: white;
		height: 50px;
	}

		.navbar .container ul li a:hover {
			background-color: #1f7dd7;
		}


		.navbar .container ul li a#login-button:hover {
			background-color: green;
		}

#navbar-logo {
	width: 45px;
	margin-top: -15px;
	line-height: 35px;
	transition: all 0.33s;
}
/*===== Login Page ======*/
#login-form {
	border: 1px solid #a1a1a1;
	border-radius: 4px;
	padding: 10px;
	background-color: #f2f2f2;
}
/* Home - index styling */
img.img_cover {
	position: absolute;
	margin-top: -75px;
	margin-left: -20%;
	width: 140%;
	height: 450px;
}
.intro{
	margin-top: 50px;
}
.f_form{
	position: relative;
	font-size: 20px;
}
.f_input {
	padding: 0px;
}
.f_input .list{
	font-size: 20px;
	height: 60px;
	line-height: 60px;
}
.f_input input{
	font-size: 20px;
	height: 60px;
	line-height: 60px;
}
.f_options{
	padding: 0px;
}
.f_options .list{
	font-size: 20px;
	height: 60px;
	line-height: 60px;
}
.f_submit{
	padding: 0px;
}
.f_submit button{
	width: 100%;
	font-size: 20px;
	height: 60px;
}


.albums {
	color: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	justify-content: center;
}

	.albums #album {
		align-items: center;
		background-color: white;
		padding: 0px;
		width: 31%;
		margin: 1%;
	}

		.albums #album img {
			min-width: 100%;
			min-height: 100%;
		}


#latest-album-title {
	margin-top:15%;
	position: relative;
	border: none;
	background-color: black;
	color: white;
	opacity: 0.9;
	border-radius: 2px;
	margin-bottom: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	box-shadow: 0px 1px 5px #1f7dd7;
}

#album-details a {
	display: block;
	color: white;
	background-color: #1f7dd7;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.33s;
}

	#album-details a:hover {
		opacity: 0.8;
	}

#album-name {
	width: 100%;
	font-size: 20px;
	font-family: Verdana;
	color: black;
}

@media screen and (max-width:960px) {
	.albums #album {
		width: 100%;
		margin: 0%;
		margin-top: 40px;
	}

		.albums #album img {
			width: 100%;
		}

	#search-box {
		width: 71%;
	}

	#search-button {
		width: 25%;
	}

	#latest-album-title{
		margin-top: 10px;
	}
}

/* Register Form Styling*/

.register_form{
	border: 1px solid #a1a1a1;
	border-radius: 4px;
	background-color: #f2f2f2;
}
.u_input{
	width: 80%;
	margin-left: 10%;
}

.benefits{
	background-color: #1f7dd7;
	color: white;
	opacity: 0.8;
}
.benefit{
	list-style: none;
	padding: 0px;
}

/*===== PROFILE PAGE =======*/
.u_profile {
	border: 1px solid #a1a1a1;
	background-color: #f2f2f2;
	border-radius: 4px;
}

.u_image {
	border: 1px solid #a1a1a1;
	width: 31%;
	margin: 1%;
}

	.u_image img {
		margin-top: 10px;
		
	}

.u_profile_img {
	width: 50%;
	margin-top: 10px;
}

.u_activity_info {
	list-style: none;
	text-align: center;
	padding-left: 0px;
}

	.u_activity_info li {
		display: inline-block;
	}

.u_actionlinks {
	list-style: none;
	text-align: center;
	padding-left: 0px;
}

	.u_actionlinks li {
		display: inline-block;
		padding: 2px;
	}

li.create a {
	list-style: none;
	display: block;
	text-decoration: none;
	color: white;
}

.u_uploads {
	padding-left: 0px;
	margin-top: 10px;
}

.u_album {
	border: 1px solid #a1a1a1;
	margin-bottom: 10px;
	width: 31%;
	margin: 1%;
}

	.u_album_img {
		width: 100%;
		height: 250px;
	}

.a_details_link a {
	color: gray;
	font-size: 30px;
}

@media  screen and (max-width: 992px) {
	.u_image {
		width: 100%;
	}

	.u_album {
		width: 100%;
	}

		.u_album img {
			width: 100%;
			height: 200px;
		}
}
/*-- Lower part - albums visualization*/
#album-with-pictures {
	justify-content: center;
}

	#album-with-pictures img {
		min-width: 100%;
		min-height: initial;
	}

/*======= Edit Profile Page ========= */
#form {
	border-radius: 4px;
	background-color: black;
	opacity: 0.85;
	padding: 10px;
}

#edit-buttons {
	text-align: right;
}

	#edit-buttons li {
		display: inline-block;
	}
/*=======================================*/
/*===== Create Album Page ==========*/
#create-album-buttons {
	list-style: none;
	text-align: right;
}

	#create-album-buttons #back {
		display: inline-block;
	}

	#create-album-buttons #save {
		display: inline-block;
	}

/*=== Album Details Page === */
.a_image{
	border: 1px solid #a1a1a1;
	background-color: #f2f2f2;
	width: 31%;
	margin: 1%;
}
.a_image a, span{
	font-size: 18px;
}

.a_info{
	border: 1px solid #a1a1a1;
	background-color: #f2f2f2;
}
.a_info img.img-responsive{
		border-radius: 4px;
	}

.a_comments{
	padding: 5px;
}
@media screen and (max-width: 992px){
	.a_image{
		width: 100%;
	}
	.a_info img.img-responsive{
		width: 30%;
	}
}

/*===== Edit Album Page =============*/
#album-form {
	border: 1px solid #a1a1a1;
	background-color: #f2f2f2;
	border-radius: 4px;
}

#title {
	border: 1px solid #a1a1a1;
	border-radius: 4px;
	margin-bottom: 10px;
	background-color: lightgray;
}

	#images #file {
		border: 1px solid #a1a1a1;
		border-radius: 4px;
		margin-bottom: 5px;
		transition: all 0.33s;
		background-color: #f2f2f2;
		width: 31%;
		margin: 1%;
	}

		#images #file:hover {
			transform: scale(1.05);
		}

		#images #file img {
			margin: 10px;
		}

		#images #file button {
			margin-right: 5px;
		}

#comments {
	margin-top: 10px;
}

	#comments #comment {
		transition: all 0.33s;
	}

		#comments #comment:hover {
			transform: scale(1.05);
		}
@media screen and (max-width: 991px){
	#images #file {
		width: 100%;
	}
}