body {
	overflow-x: hidden;
	background-color: #eaeaea;
}
/* layout styling */
.navbar-profile-picture {
	text-align: center;
	width: inherit;
	height: 50px;
}

.navbar {
	background-color: transparent;
	border: none;
	position: relative;
}

	.navbar .container {
		margin-left: 2%;
		width: 96%;
		margin-top: 0.5%;
		background: black;
		border-radius: 4px;
		opacity: 0.9;
		box-shadow: 0px 3px 30px #1f7dd7;
	}

		.navbar .container ul li a {
			text-align: center;
			font-size: 18px;
			transition: all 0.33s;
			color: white;
		}
			.navbar .container ul li a:hover {
				background-color: #1f7dd7;
				transform: scale3d(1.1);
			}


		.navbar .container ul li a#login-button:hover {
			background-color: green;
		}

@media screen and (min-width: 1024px) {
	.navbar .container ul li a#login-button {
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
	}

	.navbar .container ul li button#logOff-button {
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
	}
}

#navbar-logo {
	width: 45px;
	margin-top: -15px;
	line-height: 35px;
	transition: all 0.33s;
}

/* Home - index styling */
#search-form {
	height: 60px;
	line-height: 60px;
}

#search-box {
	color: black;
	border: none;
	width: 50%;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	padding-left: 20px;
	font-size: 20px;
	opacity: 0.95;
}

#search-button {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border: none;
	margin-left: -5px;
	width: 10%;
	font-size: 20px;
	opacity: 0.95;
	background-color: #1f7dd7;
}

.albums {
	color: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	justify-content: center;
}

	.albums #album {
		align-items: center;
		background-color: white;
		padding: 0px;
		width: 31%;
		margin: 1%;
	}

		.albums #album img {
		min-width: 100%;
		min-height: 100%;
		}


#latest-album-title {
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 2px;
	background-color: black;
	opacity: 0.9;
	color: white;
	border: 1px solid transparent;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
}

#album-details a{
 display: block;
 color: white;
 background-color: #1f7dd7;
 text-decoration: none;
 font-size: 18px;
 transition: all 0.33s;
}
	#album-details a:hover {
		opacity: 0.8;
	}

#album-name{
	width: 100%;
	font-size: 20px;
	font-family: Verdana;
	color: black;
}
@media screen and (max-width:960px) {
	.albums #album {
		width: 100%;
		margin: 0%;
	}

		.albums #album img {
			width: 100%;
		}

	#search-box {
		width: 71%;
	}

	#search-button {
		width: 25%;
	}
}

/* Register Form Styling*/
.flex-container#register-form {
	display: flex;
	flex-direction: row;
	text-align: center;
	position: relative;
	width: 100%;
}

#register-form #form {
	width: 50%;
	border-radius: 4px;
	height: 350px;
	background-color: black;
	color: white;
	opacity: 0.8;
	height: inherit;
}

	#register-form #form div input {
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		margin-left: 10%;
		width: 80%;
	}

.btn-primary#register-button {
	width: 150px;
	height: 50px;
	font-size: 18px;
}

/*===== camera.png-logo ====== */
#camera-logo {
	visibility: visible;
	margin-left: 5%;
	position: initial;
	width: 40%;
	height: 300px;
}

	#camera-logo img {
		position: relative;
		height: inherit;
	}

@media screen and (max-width: 960px) {
	#camera-logo {
		visibility: hidden;
	}

	#register-form #form {
		min-width: 100%;
	}
}

#benefits-container {
	margin-top: 1px;
}

	#benefits-container #benefits-list h4 {
		height: 40px;
		line-height: 40px;
		font-size: 25px;
		text-align: center;
	}

	#benefits-container #benefits-list {
		background-color: #1f7dd7;
		color: white;
		opacity: 0.8;
		height: 240px;
	}

#benefits-question {
	margin-top: 10px;
	opacity: 0.8;
	text-align: center;
	background-color: #1f7dd7;
	color: white;
}

/*===== PROFILE PAGE =======*/
/*-- Upper part - user information*/
#user-details {
	background-color: white;
	border-radius: 4px;
}

#profile-picture-area {
	text-align: center;
}

	#profile-picture-area img {
		border-radius: 2px;
		margin-top: 10px;
		height: 300px;
		width: initial;
	}

#description {
	text-align: center;
	font-size: 18px;
}

#user-albums-information {
	margin-top: 10px;
	list-style: none;
}

	#user-albums-information li {
		display: inline-block;
	}

#user-email-and-location {
	list-style: none;
}


#create-edit-btns {
	list-style: none;
}

	#create-edit-btns li {
		height: 50px;
		line-height: 50px;
		display: inline-block;
		width: 40%;
		text-align: center;
	}
		#create-edit-btns li#sign-out {
		height: 50px;
		line-height: 50px;
		display: inline-block;
		width: 20%;
		text-align: center;
	}
		#create-edit-btns li a {
			display: block;
			height: inherit;
			font-size: 18px;
			text-decoration: none;
			border-radius: 3px;
		}

#sign-out button{
	border: none;
	border-radius: 3px;
	height: 50px;
	line-height: 50px;
	width: 100%;
	font-size: 18px;
	background-color: #e6e6e6;
	color: black;
}
#sign-out button:hover {
	background-color: #ff2c2c
}
#create a {
	color: white;
	background-color: #1f7dd7;
}

#create:hover a {
	opacity: 0.8;
}

#edit a {
	color: black;
	background-color: #e6e6e6;
}

#edit:hover a {
	background-color: lightgray;
}

/*-- Lower part - albums visualization*/
	#albums {
		padding: 10px;
		transition: all 0.33s;
	}
		#albums:hover {
		transform: scale(1.01);
	}
#album-with-pictures {
	justify-content: center;
}

	#album-with-pictures img {
		min-width: 100%;
		min-height: 100%;
	}

	#album-name a{
		display: block;
		background-color: #1f7dd7;
		font-size: 18px;
		color: white;
		text-decoration: none;
	}
	#album-name a:hover{
		opacity: 0.9;
	}

@media screen and (max-width: 990px) {
	#user-albums-information li {
		width: 30%;
	}

	#user-email-and-location li {
		margin-top: 10px;
		width: 91%;
	}

	#create-edit-btns li {
		width: 32.5%;
	}
		#create-edit-btns li#sign-out {
		width: 30%;
	}

	#album-with-pictures {
		width: 100%;
	}

		#album-with-pictures img {
			min-width: 100%;
			min-height: 100%;
		}
}
/*======= Edit Profile Page ========= */
#form {
	border-radius: 4px;
	background-color: black;
	opacity: 0.85;
	padding: 10px;
}

#edit-buttons {
	text-align: right;
}

	#edit-buttons li {
		display: inline-block;
	}
/*=======================================*/
/*===== Create Album Page ==========*/
#create-album-buttons {
	list-style: none;
	text-align: right;
}

	#create-album-buttons #back {
		display: inline-block;
	}

	#create-album-buttons #save {
		display: inline-block;
	}

/*=== Album Details Page*/

#album-picture{
	text-align: center;
	margin-top: 10px;
}
#album-picture img{
	max-height: 100%;
	max-width: 100%;
	
}

#comment-section{
	margin-top: 10px;
}

#comment-form{
	border: 1px solid #a1a1a1;
	margin-top: 5px;
	border-radius: 4px;
}
#comment{
	border: 1px solid #a1a1a1;
	margin-bottom: 2px;
	border-radius: 4px;
}
#comment p{
	border: 1px solid #a1a1a1;
	border-radius: 4px;
	background-color: white;
	color: black;
	padding-left: 10px;
}