@model CreateAlbumViewModel

@{
	ViewData["Title"] = $"Create Album";
}

<div class="col-md-8 col-md-offset-2">
	@using (Html.BeginForm<AlbumsController>(c => c.Create(), FormMethod.Post, new { @enctype = "multipart/form-data" }))
	{
		<lable style="color: darkred;">* Required!</lable>
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Album name" })
		<br>
		<lable style="color: darkred;">* Required!</lable>
		@Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Description" })
		<br>
				var selectList = new SelectList(new List<SelectListItem>
			{
				new SelectListItem { Text = "Travel", Value = "travel" },
				new SelectListItem { Text = "Holiday", Value = "holiday" },
				new SelectListItem { Text = "Food", Value = "food" },
				new SelectListItem { Text = "Business", Value = "business" },
				new SelectListItem { Text = "Night", Value = "night" },
				new SelectListItem { Text = "Sunset", Value = "sunset" },
				new SelectListItem { Text = "Technology", Value = "technology" },
				new SelectListItem { Text = "Abstract", Value = "abstract" },
				new SelectListItem { Text = "Mountains", Value = "mountains" },
				new SelectListItem { Text = "Music", Value = "music" },
				new SelectListItem { Text = "Black And White", Value = "black and white" },
				new SelectListItem { Text = "Car", Value = "car" },
				new SelectListItem { Text = "City", Value = "city" },
				new SelectListItem { Text = "Flowers", Value = "flowers" },
				new SelectListItem { Text = "Landscape", Value = "lanscape" },
				new SelectListItem { Text = "Ocean", Value = "ocean" },
				new SelectListItem { Text = "Photography", Value = "photography" },
				new SelectListItem { Text = "Animal", Value = "animal" },
				new SelectListItem { Text = "Art", Value = "art" },
				new SelectListItem { Text = "Beach", Value = "beach" },
				new SelectListItem { Text = "Fashion", Value = "fasion" },
				new SelectListItem { Text = "Sport", Value = "sport" },
				new SelectListItem { Text = "People", Value = "people" },
				new SelectListItem { Text = "Vintage", Value = "vintage" },
				new SelectListItem { Text = "Sky", Value = "sky" }
			}, "Value", "Text");
		<lable style="color: darkred;">* Required!</lable>
				@Html.DropDownListFor(m => m.Category, selectList,"Select Category...", new { @class = "form-control"})

		<hr />
		<label>Choose file:</label>
		<input type="file" accept=".jpeg,.jpg,.png" name="Files" id="Files" multiple />
		<br />
		<input type="submit" name="submit" value="Upload" class="btn btn-primary"/>
	}
</div>
<div class="clearfix"></div>
