@model ParentAlbumViewModel

<div class="col-md-8  col-md-offset-2">
	<h4>By deleting this album you will lose the pictures stored in it. If you reconsider your decision, feel free to contact us in order to restore your album.
	Period expires on <span style="color: red;">@DateTime.UtcNow.AddDays(30).ToString("dd.MM.yyyy")</span>!</h4>
	<h3>Are you sure you want to delete @Model.Album.Name album?</h3>
	<div class="pull-right">

		@(Html.ActionLink<MyProfileController>("No", c => c.Index()))

		@(Html.ActionLink<AlbumsController>("Yes", c => c.ConfirmedDeletion(Model.Album.Id)))

	</div>
</div>
<div class="clearfix"></div>
