@model ParentAlbumViewModel

<div class="col-md-8  col-md-offset-2">
	<h3>Are you sure you want to delete @Model.Details.Name album?</h3>
	<div class="pull-right">

		@(Html.ActionLink<AlbumsController>("No", c => c.MyAlbums()))

		@(Html.ActionLink<AlbumsController>("Yes", c => c.ConfirmedDeletion(Model.Details.Id)))

	</div>
</div>
<div class="clearfix"></div>
