@model List<Code.Models.SingleImageViewModels.SingleImageDetailsViewModel>

<div class="col-md-6 col-md-offset-3">

	@foreach (var image in Model)
	{
		<div class="u_image text-center" style="width:100%;">
			<img src="~/uploads/@image.Path" style="height: initial; width:100%;" />
			<h4><strong>@image.Name</strong> @image.Description</h4>
		</div>
	}

</div>

<div class="clearfix"></div>